<?xml version='1.1' encoding='UTF-8'?>
<project>
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties/>
  <scm class="hudson.plugins.git.GitSCM" plugin="git@4.4.1">
    <configVersion>2</configVersion>
    <userRemoteConfigs>
      <hudson.plugins.git.UserRemoteConfig>
        <url>https://git.kernel.org/pub/scm/linux/kernel/git/torvalds/linux.git</url>
      </hudson.plugins.git.UserRemoteConfig>
    </userRemoteConfigs>
    <branches>
      <hudson.plugins.git.BranchSpec>
        <name>*/master</name>
      </hudson.plugins.git.BranchSpec>
    </branches>
    <doGenerateSubmoduleConfigurations>false</doGenerateSubmoduleConfigurations>
    <submoduleCfg class="list"/>
    <extensions>
      <hudson.plugins.git.extensions.impl.CheckoutOption>
        <timeout>240</timeout>
      </hudson.plugins.git.extensions.impl.CheckoutOption>
      <hudson.plugins.git.extensions.impl.CloneOption>
        <shallow>false</shallow>
        <noTags>true</noTags>
        <reference></reference>
        <timeout>240</timeout>
        <honorRefspec>false</honorRefspec>
      </hudson.plugins.git.extensions.impl.CloneOption>
    </extensions>
  </scm>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers>
    <hudson.triggers.TimerTrigger>
      <spec># build daily at 7 am
H 7 * * *</spec>
    </hudson.triggers.TimerTrigger>
  </triggers>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command># Build kernel for arm64

echo &quot;CONFIG_MODULES=n&quot; &gt; kernel/configs/builtin.config
ARCH=arm64 CROSS_COMPILE=aarch64-linux-gnu- make defconfig kvm_guest.config builtin.config
ARCH=arm64 CROSS_COMPILE=aarch64-linux-gnu- make Image.gz vmlinux -j$(nproc)
cp .config arch/arm64/boot/config
</command>
    </hudson.tasks.Shell>
    <hudson.tasks.Shell>
      <command># Publish the kernel to our file server (using FTP)
FILESERVER=fileserver

VERSION=$(make kernelversion)
cp arch/arm64/boot/Image.gz Image-${VERSION}.gz

ftp -n &lt;&lt; EOF
open ${FILESERVER}
user anonymous
cd linux
put Image-${VERSION}.gz
EOF

rm Image-${VERSION}.gz</command>
    </hudson.tasks.Shell>
    <hudson.tasks.Shell>
      <command>#!/bin/bash

# Submit for testing
SQUAD_SERVER=squad
SQUAD_BACKEND=lava.server
SQUAD_TOKEN=2d703e793ea345efdbab52d95fe33ec715bcc2d4
SQUAD_GROUP=Linaro
SQUAD_PROJECT=linux-mainline
FILESERVER=fileserver
LAVA_JOB_TEMPLATES=(&quot;http://${FILESERVER}/job-templates/qemu-linux-busybox.yaml \
					 http://${FILESERVER}/job-templates/qemu-linux-nonreg.yaml&quot;)

# Kernel version
VERSION=$(make kernelversion)

# Substitute with build info
export KERNEL_URL=http://${FILESERVER}/linux/Image-${VERSION}.gz
export ROOTFS_URL=https://people.linaro.org/~loic.poulain/micro-rootfs/micro-rootfs-dev-aarch64.ext2.gz
export COMMIT_ID=$(git rev-parse HEAD)

for url in ${LAVA_JOB_TEMPLATES}; do
	# Download job template
	wget ${url} -O lava_job_template.yaml
    
    # Generate LAVA job
    envsubst &lt; lava_job_template.yaml &gt; lava_job.yaml
    LAVA_JOB_DEFINITION=$(cat lava_job.yaml)
    
    # Submit to SQUAD (and to LAVA via SQUAD)
    curl \
    	--header &quot;Auth-Token: ${SQUAD_TOKEN}&quot; \
    	--form backend=${SQUAD_BACKEND} \
    	--form definition=&quot;${LAVA_JOB_DEFINITION}&quot; \
    	http://${SQUAD_SERVER}/api/submitjob/${SQUAD_GROUP}/${SQUAD_PROJECT}/${VERSION}/jenkins
done
</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers/>
  <buildWrappers/>
</project>